.header{
  overflow: hidden;
  background-color: #666666;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo{
  margin-left: 20px;
  color: white;
}
.logo :hover{
  color: chocolate;
}
.input{
  width: 180px;
  height: 30px;
}
label{
  color: #fff;
}
.cards{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.newspaper{
  background-color: #dcf3f5bb;
max-width: 300px;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
}
.title > h1{
  display: flex;
  text-align: center;
}
.image > img{
  width:100%;
} 
.button{
  padding: 8px;
  background-color: rgb(238, 255, 0);
  border-radius: 10px;
  text-decoration: none;
  width: 30%;
  color: black;
}
.link-author{
  display: flex;
  justify-content: space-between;
}